html, body, [data-testid="stAppViewContainer"], [data-testid="stApp"] {
    background-color: #2c003e !important;
    color: white;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
}

.section-label {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.preview-placeholder {
    height: 300px;
    background-color: white;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 18px;
}

.preview-placeholder {
    color: #666;
    font-size: 18px;
    text-align: center;
}

.result-box {
    padding: 20px;
    border: 2px dashed white;
    border-radius: 10px;
    background-color: #3e005c;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.upload-row {
    margin-bottom: 50px;
}
